.logo-wrp{
	max-width: 890px;
	width: 100%;
	margin: 0 auto;
	border-bottom: 2px solid#666666;
	position: relative;
	padding-bottom: 40px;
}
.logo-wrp:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -8px;
	background: radial-gradient(ellipse farthest-corner at center top, rgb(102, 102, 102) 10%, transparent 64%);
	height: 6px;
}
.mb-two-grid-innr{
	padding-bottom: 40px;
}
.mag-two-grid-sec-wrp .mb-two-grid-img img{
	max-width: 100% !important;
}
.mag-two-grid-sec-wrp .mb-two-grid-img{
	padding-top: 0 !important;
}
.mag-two-grid-sec-wrp .mb-two-grid-dsc-title{
	margin-bottom: 25px !important;
}

.mb-lft-dsc-rgt-img-wrp{
	padding-top: 30px;
}
.mb-rgt-img{
	width: 50%;
	float: right;
}
.mb-lft-dsc {
    width: 50%;
    float: left;
    padding-right: 90px;
}
.mb-lft-dsc-title{
    display: block;
    font-size: 28px;
    line-height: 1.2;
    color: #262626;
    font-weight: 700;
    margin-bottom: 15px;
}
.mag-two-grid-sec-wrp .mb-place-your-odr-wrp{
	padding-top: 40px;
}
.mb-price-box-grid-btm{
    padding-top: 10px !important;
}
.mb-price-box-grid-wrp ul li:nth-child(3) .mb-price-box-grid-inr .mb-price-box-grid-tp .mb-price-box-grid-tp-title{
	margin-bottom: 55px !important;
}
.mb-price-box-grid-wrp ul li:nth-child(1) .mb-price-box-angle{
	background:#e92020 !important;
}
.mb-price-box-grid-inr{
	border-color: #e92020 !important;
}
.mb-price-box-grid-wrp ul li:nth-child(2n+2) .mb-price-box-grid-inr {
    border-color: rgb(58, 170, 53) !important;
}
.mb-questions-dsc-wrp p a{
	font-weight: normal;
}
.ftr-btm p{
	padding-top: 15px !important;
}




@media(max-width: 1199px){
	.mag-two-grid-sec-wrp .mb-two-grid-dsc-title br{
		display: none !important;
	}
	.mb-lft-dsc {
	    padding-right: 70px;
	}
}

@media(max-width: 991px){
	.mb-lft-dsc {
	    padding-right: 40px;
	}
}
@media(max-width: 767px){
	.mb-lft-dsc {
	    padding-right: 0;
	    width: 100%;
	}
	.mb-rgt-img {
	    width: 100%;
	    padding-bottom: 30px;
	}
}
@media(max-width: 575px){
	
}
@media(max-width: 479px){
	
}